@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Libre Caslon Text', serif;
}

/* width */
html::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
html::-webkit-scrollbar-thumb {
    background: #ffffff00;
}


body{
    background-color: #A17D71;
    max-width: 100vw;
    overflow-x: hidden;
}

.head{
    min-height:100px;
    color:#F4EBE4;
    padding:30px 50px;
    /* background-color: red; */
}
@media screen and (max-width:550px){
    .head{
        padding:30px 20px;
        /* background-color: red; */
    }
}

.bg-opacity{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: #F4EBE4;
    z-index: -1;
    opacity: 0.4;

}

.content{
    position: relative;
    margin:20px;
    border-radius: 10px;
    overflow: hidden;
}

.mr_2{
    margin-right:-15px;
}

.title{
    font-size: 30px;
}


ul{
    list-style: none;
}


.recent-work{
    width: 100%;
    overflow: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
/* width */
.recent-work::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.section-name{
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.content-work{
    width: 100%;
    margin:10px auto;
    position: relative;
    z-index: 1000;
    margin:10px 0;

}
.scroll-x{
    position: relative;
    width:3200px;
    z-index: 1000;
    padding:0 0 0 10px;
}


.content-work .item{
    width:250px;
    height:350px;
    display: inline-block;
    margin:0px 5px;
    border-radius: 0px;
    box-shadow: 0px 0px 1px black;
    z-index: 100000;
    border-radius: 10px;
    padding:20px;
    overflow: hidden;
    color:#A17D71;
    background-color: #F4EBE4;
    opacity: 0.5;
    transition : opacity 0.5s;
}
.content-work .item:nth-child(10){
    background-color: black;
    color:white;
    opacity: 1;
}
.content-work .item ul{
    padding:0 0 0 5px;
    list-style: none;
}
.content-work .item ul li{
    width: 100%;
}
.content-work .item ul li td:first-child{
    width:30px;
    text-align: center;
}
.content-work .item ul li td{
    padding:5px 10px 0px 0px;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
    -ms-word-break: break-word;
    word-break: break-word;
    hyphens: auto;
    vertical-align: top;
    line-height: 20px;
}

/* width */
.content-work .item ul::-webkit-scrollbar {
    width: 2px;
}


/* Handle */
.content-work .item ul::-webkit-scrollbar-thumb {
    background: #A17D71;
}

.title_desc{
    display: flex;
    justify-content:end;
}


.controll-box{
    display: grid;
    grid-template-areas: 'controller-1 month-name controller-2';
    justify-content: center;
    max-width:800px;
    margin: auto;
}

.month-name{
    background-color: #65473D;
    font-weight: 900;
    border-radius: 25px;
    margin:0px auto;
    color:#F4EBE4;
    grid-area: month-name;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
    height:50px;
    overflow: auto;
    scroll-behavior: smooth;
}
.month-name::-webkit-scrollbar {
    display: none;
}

.monthContent{
    width:fit-content;
    display: flex;
    align-items: center;
    justify-content: center; 
    height:100%;
}


.month-item{
    font-weight: 500;
    width: 50px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    color:#F4EBE4;
    cursor: pointer;
    transition: opacity 0.2s;
    opacity: 0.4;
}
.month-item:hover{
    opacity: 1 !important;
    font-weight: 700 !important;
}
.controller{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.controller i{
    text-align: right;
    width:50px;
    height:50px;
    border-radius: 50px;
    background-color: #F4EBE4;
    color: #65473D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.controller:nth-child(1){
    grid-area: controller-1;

}
.controller:nth-child(3){
    grid-area: controller-2;
}



@media screen  and (max-width:990px){
    .controll-box{
        width:70%;
        display: grid;
        grid-template-areas: 'month-name month-name''controller-1 controller-2';
        justify-content: center;
        text-align: center;
    }
    .title_desc{
        width:100%;
        text-align: left;
        justify-content:start;
    }
    .month-name{
        max-width: 300px;
        grid-area: month-name;
    }
    .controller{
        margin:10px 0 0 0;
    }
    .controller:nth-child(1){
        grid-area: controller-1;
        justify-content: end;
        padding:0 10px 0 0;
    }
    .controller:nth-child(3){
        grid-area: controller-2;
        justify-content: start;
        padding:0 0 0 10px;
    }
}









.footer{
    margin:20px 0 0 0;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    height:130px;
    transition: height 0.8s;
    clip-path: path('M 0 50, L 100 20 , L 350 50 , L 600 20 , L 1000 50 , L 1920 0 , L 2000 2000 ,L 0 2000');
    /* background-color: #ffffff; */
    background-color: #F4EBE4;
    padding:60px 0 0 0;
}
.about-btn{
    width:fit-content;
    height:fit-content;
    background-color: #65473D;
    border-radius: 25px;
    text-transform: uppercase;
    margin: auto;    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color:#fff;
    cursor: pointer;
    font-size: 14px;
    padding:15px;
    box-shadow: 0 0 2px black;
    transition: all 0.3s;
}
.about-btn:hover{
    background-color: #3d2b25;
}
.footer-content{
    display: none;
    display: grid;
    width:100%;
    height:fit-content;
    padding:4vw 0 4vw 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}
.about-desc{
    font-size: 20px;
    margin:0 auto 50px auto;
    padding:0 50px;
    color:#65473D;
    text-align: center;
}
.about-desc .title{
    margin:0 0 30px 0;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color:#65473D;
    text-transform: uppercase;
}
.footer-content .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content .row .col{
    text-align: center;
    padding:10px 0;
    font-size: 20px;
    font-weight:600;
    color:#65473D
}


.developer{
    display: grid;
    grid-template-areas: 'title''eile-abdo';
    text-align: center;
    justify-content: center;
}
.developer .devtitle{
    grid-area: title;
    text-align: center;
}
.developer .eile-abdo{
    grid-area: eile-abdo;
}

@media screen and (max-width:768px){
    .about-btn{
        font-size:12px;
        padding:10px;
    }
    .about-desc{
        margin:50px auto;
        font-size: 16px;
        padding:0 20px;
    }
    .about-desc .title{
        font-size: 25px;
    }
    .footer-content .row .col{
        font-size: 16px !important;
    }
}


.remined-me{
    display: grid;
    grid-template-areas: 'label label''email btn';
    margin:50px auto;
}
.remined-me label{
    grid-area: label;
    display: block;
    font-size: 22px;
    color:#65473D;
}
.remined-me .email{
    grid-area: email;
    height:45px;
    width:450px;
    border-radius: 15px;
    margin:0 10px 0 0;
    outline: 0;
    border:0;
    box-shadow: 0 0 2px #464646;
    padding:0 0 0 20px;
    color: #65473D;
}
.remined-me .btn{
    grid-area: btn;
    font-size: 18px;
    background-color: #65473D;
    color: #F4EBE4;
    border-radius: 15px;
    padding:10px;
    height: 45px;
    width:fit-content;
    outline: 0;
    border:0;
    box-shadow: 0 0 2px #A17D71;
    display: flex;
    align-items: center;
    justify-items: center;
}
@media screen and (max-width:650px){
    .remined-me{
        display: grid;
        grid-template-areas: 'label''email''btn';
        margin:50px auto 0 auto;
        width: 70%;
        padding:0 2vw;
    }
    .remined-me label{
        font-size: 18px;
    }
    .remined-me .email{
        height:40px;
        width:100%;
        padding:0 0 0 2vw;
    }
    .remined-me .btn{
        font-size: 16px;
        height:40px;
        margin-top:10px;
    }
}
@media screen and (max-width:400px){
    .remined-me{
        width: 90%;
    }
}